/* Book List Styles */
.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Individual Book Styles */
  .individual-book {
    background-color: #f5f5f5;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 300px;
    margin: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .individual-book h2 {
    font-size: 18px;
    margin-top: 0;
  }
  
  .individual-book p {
    margin: 10px 0;
  }
  
  /* Delete Button Styles */
  .delete-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  