/* BookList.css */

/* Individual Book Styles */
.individual-book {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  }
  
  .individual-book h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  .individual-book p {
    margin: 5px 0;
  }
  
  .delete-button {
    background-color: #dc3545;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .delete-button:hover {
    background-color: #c82333;
  }
  
  /* BookList Container Styles */
  .book-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* BookList Styles */
  .book-list {
    width: 100%;
    max-width: 600px;
  }
  