body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #232020;
  color: #333;
  margin-top: 4%;
}

.page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-nav h2 {
  margin-right: 30px;
}

.page-nav a {
  padding-top: 20px;
  margin-top: auto;
  margin-bottom: auto;
}

.navigation {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.navigation a {
  text-decoration: none;
  color: hsl(0, 0%, 1%);
}

.book {
  border: 1px solid #c1a3a389;
  padding: 10px;
  margin-bottom: 10px;
  background-color: rgba(110, 110, 97, 0.464);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.book h3 {
  margin-bottom: 5px;
}

.book p {
  color: #666;
  padding: 5px;
}

.book-form button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.book button {
  background-color: #e94f4f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.book-form button:hover {
  background-color: #0056b3;
}

.book button:hover {
  background-color: #0056b3;
}

.book-form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.book-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}
